<app-header />
<!-- <Button (click)="getVoiture(3)">Click me!</Button> -->
<!-- <router-outlet /> -->
<!-- (click)="getVoiture($event)" -->
<!-- <input type="number" #MyTextField (keyup.enter)="getVoiture(MyTextField.value)"> -->

<br />
<!-- Card template de Afficher le voiture Corspendent -->
<!-- <style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .container {
    padding: 2px 16px;
  }
</style> -->
<!-- <div *ngIf="MyTextField.value">
  <div class="card" *ngFor="let ele of VoituresAll">
    <div *ngIf="ele.Id == MyTextField.value">
      
    </div>
    <img src="https://res-console.cloudinary.com/dhizhhaqs/media_explorer_thumbnails/7ca0a5033d1719740a30a651afaeb063/detailed" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>John Doe</b></h4> 
      <p>Architect & Engineer</p> 
    </div>
  </div>
</div> -->
<!-- <h5>Liste les Voitures qui dans le magasin:</h5> -->

<!-- <br />
<table border="1" style="margin: auto;">
  <tr>
    <th>Matricule</th>
    <th>module</th>
    <th>Picture</th>
    <th>Price</th>
    <th>marque</th>
    <th>Date de Creation</th>
  </tr>
   *ngIf="VoitureSelected" 
  <tr *ngFor="let VoitureSelected of VoituresAll">
    <td>{{ VoitureSelected.Matricule }}</td>
    <td>{{ VoitureSelected.Module }}</td>
    <td><img [src]="VoitureSelected.Picture" width="300" alt="_blank" /></td>
    <td>{{ VoitureSelected.Prices }}</td>
    <td>{{ VoitureSelected.Marque }}</td>
    <td>{{ VoitureSelected.Created }}</td>
  </tr>
</table> -->
<div style="min-height: 70vh;height: fit-content;"><router-outlet></router-outlet></div>

<app-footer />